/* @formatter:off */
:root {
    --lightBlack: #222;
    --darkBlack: #121212;
    --whiteSmoke: whitesmoke;
    --redCrimson: crimson;
    --inputError: #ff3860;
    --inputSuccess: #09c377;
}
.font-valorant { color:var(--whiteSmoke); text-decoration: none; list-style-type: none; font-weight: lighter; letter-spacing: 1px; font-family: 'VALORANT', sans-serif; }
body {
    background: url("../assets/bg-jett.png") no-repeat right;
    background-size: cover;
    /* background-color: var(--lightBlack); /**/
    color:var(--whiteSmoke);
    font-family: 'Ropa Sans', sans-serif;
}

header, footer {
    background-color: var(--darkBlack);
    display: flex;
    flex: 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    left: 0;
}

header { position: absolute; top: 0;  height: 6% }
footer { position: absolute; bottom: 0; height: 5%; text-transform: uppercase; }

header div:first-child,
footer div:first-child { margin-left: 15px; }

header div:last-child,
footer div:last-child {
    width: 70%;
    justify-content: flex-end;
    padding-right: 20px;
    display: flex;
    column-gap: 40px;
}

footer div:last-child { justify-content: flex-start; font-size: 13px; }

#form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 292px;
    margin: 10vh auto;
    padding: 20px;
    background-color: var(--darkBlack);
    border-radius: 4px;
    font-size: 12px;
    color: var(--whiteSmoke);
}

#form h1 { text-align: center; }

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: var(--lightBlack);
    background-color: var(--redCrimson);
    border: none;
    border-radius: 4px;
}

.input-field { display: flex; flex-direction: column; }
.input-field label { text-transform: uppercase; padding-bottom: 5px; letter-spacing: 0.1em; }
.input-field input, textarea {
    border: 2px solid var(--whiteSmoke);
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
}

.input-field textarea {
    max-width: 92%;
    max-height: 100px;
}

.input-field input:focus,
.input-field textarea:focus { outline: 0; }

.input-field.success input, .input-field.success textarea { border-color: var(--inputSuccess); }
.input-field.error input, .input-field.error textarea { border-color: var(--inputError); }

.input-field .error {
    color: var(--inputError);
    font-size: 12px;
    letter-spacing: 0.07em;
    height: 13px;
    padding-top: 3px;
}

button {
    cursor: pointer;
}

#successMessage {

    position: absolute;

    width: 100%;
    height: 89%;


    text-align: center;

    background-color: var(--lightBlack);
    #border:2px solid red;
    justify-content: space-around;
}

#successMessage div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;

    #border:2px solid yellow;

}

#successMessage p { line-height: 1.5em; letter-spacing: 0.07em; font-family: 'Ropa Sans', sans-serif; }
#successMessage strong { letter-spacing: 0.07em; }
#successMessage a {
    background-color: var(--redCrimson);
    padding: 10px;
    width: 150px;
    letter-spacing: 0.07em;
    color: var(--whiteSmoke);
}