/* @formatter:off */
:root {
    --black: #222;
    --darkBlack: #121212;
    --white: #e7e7e7;
    --red: crimson;
}

* { text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; }
html { position: relative; background-color: var(--black); }
html, body { height: 100%; overflow: hidden; }

body {
    width: 330px;
    margin: 6vh auto 0 auto;
    color: var(--white);
    font-family: 'Ropa Sans', sans-serif;
}

header, footer {
    background-color: var(--darkBlack);
    display: flex;
    flex: 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    left: 0;
}

header { position: absolute; top: 0;  height: 6% }
footer { position: absolute; bottom: 0; height: 5%;}

header div:first-child,
footer div:first-child {
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

header div:last-child,
footer div:last-child {
    width: 70%;
    justify-content: flex-end;
    padding-right: 20px;
    display: flex;
    column-gap: 40px;
}

footer div:last-child { justify-content: flex-start; font-size: 13px; }
h1,h2,h3 { font-weight: bolder; font-family: 'VALORANT', sans-serif; background-color: transparent; }
h4 { font-weight: bolder; letter-spacing: 0.07em; }
em { font-size: 16px; }
p {  line-height: 1.4em; letter-spacing:0.05em; }
a { color:var(--white); text-decoration: none; list-style-type: none; font-weight: lighter; letter-spacing: 1px; font-family: 'VALORANT', sans-serif; }

#agentDetailsBox::-webkit-scrollbar { display: none; }

#agentsList, #agentDetailsBox {
    display: flex;

    text-decoration: none;
    list-style-type: none;
    background-repeat: no-repeat;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    max-width:330px;
    height: 89%;

    overflow-x: hidden; /* left, right *//* left, right */
    overflow-y: scroll !important; /* top, bottom */
}

#agentsList { justify-content: space-around; flex-wrap: wrap; }
#agentsList div { text-align: center; width: 48%; }
#agentDetailsBox { flex-direction: column; }

.back {
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--red);
    border: 2px solid var(--black);
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    width: 110px;
    text-align: center;
    position: absolute;
    bottom: 17px;
    right: 15px;
    z-index: 999;
}

.back * { color: var(--black); }



/* @formatter:off */
:root {
    --lightBlack: #222;
    --darkBlack: #121212;
    --whiteSmoke: whitesmoke;
    --redCrimson: crimson;
    --inputError: #ff3860;
    --inputSuccess: #09c377;
}

.font-valorant { font-family: 'VALORANT', sans-serif; }

form#form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 292px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    background-color: var(--darkBlack);
    border-radius: 4px;
    font-size: 12px;
    color: var(--whiteSmoke);
}

#form h1 { text-align: center; }

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: var(--lightBlack);
    background-color: var(--redCrimson);
    border: none;
    border-radius: 4px;
}

.input-field { display: flex; flex-direction: column; }

.input-field input, textarea {
    border: 2px solid var(--whiteSmoke);
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    padding: 8px;
}

.input-field textarea {
    max-width: 92%;
    max-height: 100px;
}

.input-field input:focus,
.input-field textarea:focus { outline: 0; }

.input-field.success input, .input-field.success textarea { border-color: var(--inputSuccess); }
.input-field.error input, .input-field.error textarea { border-color: var(--inputError); }

.input-field .error {
    color: var(--inputError);
    font-size: 9px;
    height: 13px;
}





